<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation"
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %>
        prohibited this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end%>
      </ul>
    </div>
  <%end %>
  <div class="form-group">
    <%= f.label :title %>:
    <%= f.text_field :title, :class => 'form-control' %>

    <div id="ingredients">
      <label>Ingredients:</label>
        <%= f.fields_for :recipe_items do |builder| %>
        <%= render 'recipe_item_fields', f: builder %>
      <div id="links">
        <%= link_to_add_association "add Ingredient", f, :recipe_items %><br/>
      </div>
        <% end %>
    </div>

    <%= f.label :instructions %>:
    <% unless @instructions.nil? %>
      <% @instructions.each do |instruction| %>
        <%= text_field_tag 'recipe[instructions][]', instruction %>
      <% end %>
    <% end %>
    <div id="recipe_steps">
      <%= text_field_tag 'recipe[instructions][]', nil, class: 'form-control', placeholder: 'Type the first step' %>
      <%= link_to "Remove Step", "javascript:void(0)", class: "remove_step" %>
    </div>
    <%= link_to "Next Step", "javascript:void(0)", id: "new_step" %><br/>
    <%= f.button "Publish", :name => "published", :value => "true" %>
    <%= f.button "Save Draft", :name => "unpublished", :value => "false" %>
  </div>
<% end %>
