<div class="container">
  <div class="jumbotron">
    <%= form_for @recipe, :class => 'recipe_form' do |f| %>
      <div class="form-group">
        <%= f.label :title %>:
        <%= f.text_field :title, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.fields_for :ingredients do |builder| %>
          <%= render 'ingredient_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add Ingredient", f, :ingredients %><br/>
      </div>

      <div class="form-group">
        <%= f.label :instructions %>:<br\>
        <% unless @instructions.nil? %>
          <% @instructions.each do |instruction| %>
            <%= text_field_tag 'recipe[instructions][]', instruction %><br/>
          <% end %>
        <% end %>
        <%= text_field_tag 'recipe[instructions][]' %>
        <%= link_to "Next Step", "javascript.void(0)", id: "new_step" %>
        <%= f.submit "Submit", :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>

