<h1> List of Recipes </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Ingredients</th>
    <th>Instructions</th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.title %></td>
      <td>
        <% recipe.ingredients.each do |ingredient| %>
          <%= "#{ingredient.quantity} #{ingredient.name}" %>
        <% end %>
      </td>
      <td><%= recipe.instructions %></td>
      <td><%= link_to 'Show', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    </tr>
  <% end %>
</table>
