<div class="container">
  <div class="jumbotron">
    <p>
      <strong>Title:</strong>
      <%= @recipe.title %>
    </p>

    <p>
      <strong>Ingredients:</strong><br/>
      <% @recipe.ingredients.each do |ingredient| %>
        <%= "#{ingredient.quantity} #{ingredient.name}" %><br/>
      <% end %>
    </p>

    <p>
      <strong>Instructions:</strong><br/>
      <% @instructions.each do |instruction| %>
        <%= instruction %><br/>
      <% end %>
    </p>

    <%= link_to 'Back', recipes_path, class: "btn btn-default" %>
    <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-info" %>
    <%= link_to 'Destoy', recipe_path(@recipe),
        method: :delete,
        data: { confirm: 'For real?' },
        class: "btn btn-danger" %>
  </div>
</div>
